# Train Test split
## Import Libraries

In [2]:
import numpy as np
from sklearn.model_selection import train_test_split

## Generate data we are going to split

In [7]:
a = np.arange(1,101,1)
a

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [8]:
b = np.arange(501,601,1)
b

array([501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513,
       514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526,
       527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539,
       540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552,
       553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565,
       566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578,
       579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591,
       592, 593, 594, 595, 596, 597, 598, 599, 600])

## Split the data

In [9]:
train_test_split(a)

[array([ 58,  84,  38,  59,  85,  70,   2,  55,  51,  87,  69,  46,  81,
         77,  57,  19,  79,  91,  67,  35,  53,  12,   3,  96,  68,  97,
         54,  15,  22,  13,  48,  32,   7,   4,  16,  65,  75,  31,  14,
         23,  62,  60,  47,  42,  25,  64,  21,  29,  45,   9,   8,  18,
         50,  92,  88,   1, 100,   6,  98,  94,  44,  34,  63,  24,  74,
         66,  41,  76,  95,  83,  11,  33,  43,  71,  28]),
 array([56, 20, 99, 73, 17, 27, 10, 90, 82, 39, 89, 40, 93, 72, 37, 61, 52,
         5, 78, 30, 80, 36, 49, 26, 86])]

In [10]:
a_train, a_test = train_test_split(a)

In [11]:
a_train

array([68, 40, 56, 26, 84,  5, 21, 85, 79, 17, 87, 74, 76, 14, 95, 41, 57,
        2, 90, 71,  7, 51, 28, 31, 96, 30, 91, 62, 99, 61, 20, 70, 24, 29,
       27, 32,  6, 10, 43, 48, 13, 23, 75, 73, 37, 33, 67, 11, 89, 66, 12,
       46, 34, 55, 49, 86, 83,  3, 25, 94, 59, 80, 65, 22, 98, 82, 60,  9,
       16, 97, 42, 18, 35, 54, 44])

In [14]:
a_test

array([ 19,  15,   8,  92,   4,  53,  81,  38,  63,  88,  93, 100,  58,
        47,  45,  72,  50,  69,  64,  36,  78,  52,   1,  39,  77])

In [15]:
a_train.shape

(75,)

In [22]:
a_test.shape

(20,)

#### If we want to change the size of both arrays then

In [23]:
a_train, a_test = train_test_split(a, test_size = 0.2)

In [24]:
a_train

array([ 59,  21,  78,  41,  58,  13,  52,   2,  99,  90,  61,  71,  81,
        96,   7,  84,  92,  24,  57,  20,   9,   6,  55,   4,  62,  47,
        72,  66,  83,  46,  67,  17,  97,  26,  38,  89,  14,  91,  94,
        27,  69,  98,  18,  56,  76,  29,  70,  23,  12,  16,  64,  45,
        95,  82,  30,  31,  49,  25,  54,  40,  53,  42,  65,  88,  36,
        73,  32,  86,  60,  34,  15,   3,  68,  39,  50,  11,  19,  37,
       100,  63])

In [25]:
a_train.shape

(80,)

### If we don't want random selection from both arrays then

In [27]:
a_train, a_test = train_test_split(a, test_size = 0.2, shuffle = False)
a_train

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80])

#### If we want random selection but everytime it should be in a same manner and not chnge every time we run the code, we use random_state and we can fix it to any number

In [32]:
a_train, a_test = train_test_split(a, test_size= 0.2, random_state = 42)
a_train

array([ 56,  89,  27,  43,  70,  16,  41,  97,  10,  73,  12,  48,  86,
        29,  94,   6,  67,  66,  36,  17,  50,  35,   8,  96,  28,  20,
        82,  26,  63,  14,  25,   4,  18,  39,   9,  79,   7,  65,  37,
        90,  57, 100,  55,  44,  51,  68,  47,  69,  62,  98,  80,  42,
        59,  49,  99,  58,  76,  33,  95,  60,  64,  85,  38,  30,   2,
        53,  22,   3,  24,  88,  92,  75,  87,  83,  21,  61,  72,  15,
        93,  52])

In [33]:
a_test

array([84, 54, 71, 46, 45, 40, 23, 81, 11,  1, 19, 31, 74, 34, 91,  5, 77,
       78, 13, 32])

#### We can split multiple arrays at a time

In [40]:
a_train, a_test, b_train, b_test = train_test_split(a, b, test_size = 0.2, random_state = 42)
a_train.shape, a_test.shape

((80,), (20,))

In [41]:
b_train.shape, b_test.shape

((80,), (20,))

In [42]:
a_train

array([ 56,  89,  27,  43,  70,  16,  41,  97,  10,  73,  12,  48,  86,
        29,  94,   6,  67,  66,  36,  17,  50,  35,   8,  96,  28,  20,
        82,  26,  63,  14,  25,   4,  18,  39,   9,  79,   7,  65,  37,
        90,  57, 100,  55,  44,  51,  68,  47,  69,  62,  98,  80,  42,
        59,  49,  99,  58,  76,  33,  95,  60,  64,  85,  38,  30,   2,
        53,  22,   3,  24,  88,  92,  75,  87,  83,  21,  61,  72,  15,
        93,  52])

In [43]:
a_test

array([84, 54, 71, 46, 45, 40, 23, 81, 11,  1, 19, 31, 74, 34, 91,  5, 77,
       78, 13, 32])

In [44]:
b_train

array([556, 589, 527, 543, 570, 516, 541, 597, 510, 573, 512, 548, 586,
       529, 594, 506, 567, 566, 536, 517, 550, 535, 508, 596, 528, 520,
       582, 526, 563, 514, 525, 504, 518, 539, 509, 579, 507, 565, 537,
       590, 557, 600, 555, 544, 551, 568, 547, 569, 562, 598, 580, 542,
       559, 549, 599, 558, 576, 533, 595, 560, 564, 585, 538, 530, 502,
       553, 522, 503, 524, 588, 592, 575, 587, 583, 521, 561, 572, 515,
       593, 552])

In [45]:
b_test

array([584, 554, 571, 546, 545, 540, 523, 581, 511, 501, 519, 531, 574,
       534, 591, 505, 577, 578, 513, 532])

#### If we use the same random_state for splitting both arrays, then they will be related in the same way as they were declared